
 body {
    font-family: 'Nunito Sans', sans-serif;
 }
 h1 { 
    color: rgb(255, 0, 221);
    font-weight: 900;
    font-style: inherit;
 }
 p {
    color: rgb(97, 85, 167);
    font-style: italic;
 }
ul {
    color: green;
    font-style: oblique;
}     
ol {
    color: blue;
    font-family: oblique;
}  